# data
downloads/
*.jp2
*.tif
*.png
*.SAFE

# env
.env
*.env
env/
venv/
.envs/
conda-meta/
envtest.py
.s3cfg

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# logs
*.log

# OS
.DS_Store
Thumbs.db